$white : #fff;
$black : #000;

$body-bg-color : #a6a8ba;

$primary:     #0000ff;  
$secondary:   #a6a8ba; 


$bdr-radius : 5px;
$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);


$wrapper-width:  60%;
$wrapper-width-sm:  90%;


$text-wrapper-width: 80%;

