$white : #fff;
$body-bg-color : #f7f9fa;
$body-color : #787878;

$primary:     #3ebb8c;  
$secondary:   #9092a5; 


$bdr-radius : 5px;
$box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);


$gray-text: #C3C5D0;
$gray2-text: #BFC0CC;
$blue-color: #00D6F1;
$orange-color: #FFBC00;
$red-color: #FF4D00;