@import "variables";
@import "global";


/** applying border box to all elements **/

* {
  box-sizing: border-box;
}

body {
  background-color: $body-bg-color;
  color: $black;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  & > * {
    width: $wrapper-width;
  }
}

.todo-app {
  background: $white;
  box-shadow: $box-shadow;
  border-radius: $bdr-radius;
  padding: 2rem;
}

.text-center {
  text-align: center;
}

.add-todo {
  margin-bottom: 2rem;
  #add-todo-head-input {
    width: 55%;
  }
  #add-todo-text-input {
    width: 35%;
  }
  #add-todo-btn {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.todo-filter {
  margin-bottom: 2rem;
  & * {
    width: 32%;
    height: 2rem;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    &.active {
      color: $primary;
      border-bottom: 2px solid $primary;
    }
  }
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  position: relative;
  margin: 1rem 0;
  padding: 1rem 0;
  background-color: $white;
  cursor: pointer;
  label {
    position: absolute;
    top: 35%;
  }
  &:hover {
    background-color: lighten($secondary, 30%);
  }
}

.completed {
  .text-wrapper{
    text-decoration: line-through;
    color: lighten($black, 30%);
  }
}

.btn-wrapper {
  float: right;
  height: 100%;
  width: 100% - $text-wrapper-width - 5%;
  text-align: right;
  & button {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 5px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    &[id^="edit"] {
      background: url(../assets/edit.svg) no-repeat;
      background-size: 1.2rem;
    }
    &[id^="delete"] {
      background: url(../assets/delete.svg) no-repeat;
      background-size: 1.2rem;
    }
  }
}

.text-wrapper {
  position: relative;
  display: block;
  width: $text-wrapper-width;
  margin: 0 3rem;
  h3 {
    margin: 0;
  }
  span {
    display: block;
    color: $secondary;
    padding: 2px 0;
    max-height: 100px;
    overflow: hidden;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $black; /* Fallback color */
  background-color: rgba($black, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: $white;
  margin: auto;
  padding: 1.5rem;
  width: 80%;
  border-radius: $bdr-radius;
  /* The Close Button */
  #close {
    color: $black;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  & input {
    width: 100%;
    margin-bottom: 2rem;
  }
  .model-btn {
    margin-top: 2rem;
    text-align: right;
    button {
      width: 20%;
      height: 2rem;
    }
    // float: left;
  }
}

/* media query for mobile screen */
@media only screen and (max-width: 768px) {
  .wrapper {
    & > * {
      width: $wrapper-width-sm;
    }
  }
}